 * {
     font-family: Josefin Sans;
 }
 
 #navbar-brand {
     font-size: 32px;
     font-weight: 600;
     line-height: 38px;
 }
 
 #Home-active:active {
     color: #20c997;
 }
 
 #Home-active:hover {
     color: #20c997;
     ;
 }
 
 #color-black {
     color: black;
 }
 
 ul>li {
     margin: 0px 0px 0px 25px;
 }
 
 #mainnav {
     margin-left: 13%;
 }
 
 li>a {
     text-transform: uppercase;
 }